@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
}
#container {
    display: flex;
    flex-direction: column;
    margin: 150px auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    width: 280px;
    height: 420px;
}

#qr-code-img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin: 20px auto 0 auto;
    display: block;
}

#first-text {
    font-weight: bold;
    margin: 10px auto;
    padding: 0 20px 0 20px;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

#second-text {
    margin: 10px auto;
    font-family: 'Outfit', sans-serif;
    color: hsl(220, 15%, 55%);
    padding: 0 25px 28px 25px;
}